<style>
    .logo {
        text-transform: none;
        font-size: 20px;
        padding: 0 6px 0 6px;
        margin: 6px 8px 6px 8px;
        color: white !important;
    }
    
    .no-animate {
        -webkit-transition: none !important;
        transition: none !important;
        text-transform: none;
        color: white !important;
    }
    
    .overflow svg {
        fill: inherit;
    }
    
    .menu {
        background-color: transparent !important;
    }
</style>


    <md-whiteframe layout layout-fill  flex class="md-whiteframe-3dp">
        <div class="md-toolbar-tools">
            <!--  <img src="/content/resources/navbar_logo.png" style="height:35px;"> -->
            <md-button class="logo">Robota</md-button> <span flex></span>
            
        </div>
    </md-whiteframe>
    